.allPokemon {
    background-color: red;
    width: 60%;
    text-align: center;
}

.smallDetail {
    height: 60%;
    background-color: blue;
}

.pokeImg {
    height: 40%;
    background-color: yellow;
}

.flex {
    display: flex;
    width: 100%;
}

.rightSection {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.margin-top {
    margin-top: 64px;
    margin-bottom: 64px;
}

.showNames {
    margin: 16px;
}

span {
    letter-spacing: 5px;
    cursor: pointer;
    &:hover {
        color: white;
    }
}