<app-header></app-header>
<div class="content">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <app-sidebar></app-sidebar>
        </mat-drawer>
      
        <div class="example-sidenav-content">
            <router-outlet></router-outlet>
            <button class="sidenav_btn" type="button" mat-button (click)="drawer.toggle()">
                <span class="material-icons" (click)="changeIcon()">
                    {{navbarIcon}}
                </span>
            </button>
          </div>
      
      </mat-drawer-container>
</div>
