<div class="content_wrapper">
    <div class="upper_content">
        <div class="welcome_wrapper">
            <p>Willkommen</p>
            <img class="welcome_gif" src="assets/gif/giphy.gif" />
        </div>
        <div class="pkm_of_day_wrapper">
            <img src="assets/img/default.png" alt="">
            <div>
                <h2>Pokemon des Tages</h2>
                <p>info</p>
                <button mat-button>mehr Details</button>
            </div>
        </div>
    </div>
    <div class="lower_content">
        <div class="statistik_wrapper">
            <h2>Statistiken</h2>
        </div>
        <div class="most_wanted_wrapper">
            <h2>Meistgesuchten Pokemon</h2>
        </div>
    </div>
</div>