<div class="content_wrapper">
    <div class="upper_content">
        <div class="welcome_wrapper">
            <p>Willkommen</p>
            <img class="welcome_gif" src="assets/gif/giphy.gif" />
        </div>
        <div class="pkm_of_day_wrapper">
            <img src="{{ this.pkmOfDay.img }}" alt="">
            <div>
                <h2>Pokemon des Tages</h2>
                <h3>#{{ this.pkmOfDay.id }} {{ this.pkmOfDay.name.charAt(0).toUpperCase() + this.pkmOfDay.name.slice(1) }}</h3>
                <div *ngFor="let item of this.pkmOfDay.types;" class="type_btn bg_{{item.type.name}}"><div class="icon bug">
                    <img src="icons/bug.svg"/>
                </div> {{item.type.name}} </div>
                <button mat-raised-button>mehr Details</button>
            </div>
        </div>
    </div>
    <div class="lower_content">
        <div class="statistik_wrapper">
            <h2>Statistiken</h2>
        </div>
        <div class="most_wanted_wrapper">
            <h2>Meistgesuchten Pokemon</h2>
        </div>
    </div>
</div>