<div class="content_wrapper">
    <div class="upper_content">
        <div class="welcome_wrapper">
            <p>Willkommen</p>
            <img class="welcome_gif" src="assets/gif/giphy.gif" />
        </div>
        <div class="pkm_of_day_wrapper">
            pokemon of the day
        </div>
    </div>
    <div class="lower_content">
        <div class="statistik_wrapper">
            statistik
        </div>
        <div class="most_wanted_wrapper">
            meistgesucht
        </div>
    </div>
</div>